beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
Flask
fonttools
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
requests
six
soupsieve
tzdata
urllib3
Werkzeug
