body {
    background-color: #0E1B1B;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #F2E3BC;
    font-size: 1.2rem;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
    text-decoration-color: #F2E3BC;
}
.container {
    background-color: #F2E3BC;
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    background-color: #E5F4E3;
    border-color: #C19875;
    border-style: solid;
    transition: 0.5s ease-out;
    font-size: 0.9rem;
}
.name {
    position: relative;
    background-color: red;
    color: #F2E3BC;
    bottom: 0;
    text-align: center;
    width: 27vw;
    padding-top: 2vh;
    padding-bottom: 3vh;
    border-bottom-left-radius: 2.65ch;
    border-bottom-right-radius: 2.65ch;
    font-size: 1.5rem;
    z-index: 10;
}
.footer {
    height: 5vh;
    width: 97vw;
    background-color: burlywood;
    display: flex;
    justify-content: center;
}
.git {
    height: 100%;
}
@media only screen and (min-width: 950px) {
    .container {
        width: 97vw;
        height: 345vh;
    }
    .card {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        width: 27vw;
        height: 60vh;
        margin: 4vh 2vw;
        border-radius: 5ch;
        border-width: 0.4rem;
    }
    .image {
        position: absolute;
        top: 0.5vh;
        height: 51vh;
        width: 26.2vw;
        background-size: 170%;
        border-top-left-radius: 3.5ch;
        border-top-right-radius: 3.5ch;
        z-index: 1;
    }
    .overlay {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 26vw;
        height: 60vh;
        z-index: 3;
    }
    .text {
        position: absolute;
        bottom: 0;
        max-height: 0vh;
        width: 24vw;
        opacity: 85%;
        overflow: hidden;
        text-align: center;
        background-color: #31081F;
        line-height: 1.8rem;
        border-top-left-radius: 3ch;
        border-top-right-radius: 3ch;
        font-size: 1.1em;
        box-shadow: 3px -4px 5px #727272;
        transition: 0.4s ease-out;
    }
    .card:hover {
        border-style: double;
        transition-duration: 0.25s;
        transition-delay: 0.1s;
        transition-timing-function: ease;
        box-shadow: 10px 8px 15px #4e4e4e;
    }
    .overlay:hover .text{
        padding: 1.5vh;
    }
    .overlay:hover .text{
        max-height: 50vh;
        transition: max-height 0.5s ease-in;
    }
}
@media only screen and (max-width: 950px) {
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: 1250vh;
    }
    .card {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        min-height: 72.5vh;
        width: 65vw;
        border-radius: 4ch;
        border-width: 0.4rem;
        overflow: hidden;
    }
    .image {
        background-size: cover;
        min-height: 51.2vh;
        width: 64vw;
        top: 0;
        border-top-left-radius: 3ch;
        border-top-right-radius: 3ch;
        margin-bottom: 0.5vh;
    }
    .overlay {
        background-color: #31081F;
        margin: 0.5vh;
        max-height: 18vh;
        width: 64vw;
        border-bottom-left-radius: 1.3rem;
        border-bottom-right-radius: 1.3rem;
        line-height: 1.3rem;
        text-align: center;
        padding-bottom: 0.75vh;
    }
    .name {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin: 0;
        width: 64vw;
    }
}